.faq-route {
  background-color: var(--main-white);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.faq-route-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.faq-route-description {
  max-width: 850px;
  text-align: left;
  font-weight: 600;
  padding-top: 15px;
  line-height: 30px;
  width: 100%;
}

.faq-route-items {
  max-width: 850px;
  background-color: var(--light-gray);
  margin-top: 10px;
}

.faq-item-header {
  padding: 10px;
}

.faq-item-extend {
  line-height: 25px;
  font-size: 15px;
  padding: 7.5px 15px;
}

.faq-item.selected {
  background-color: var(--main-white);
}

.faq-item-question {
  text-align: left;
}

/* FAQ section */
.faq {
  background-color: var(--light-gray);
}

.faq-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Frequently Asked Item Section */
.faq-items {
  padding: 1em 0 2em;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1100px;
}

.faq-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: height 0.5s;
}

.faq-item-icon {
  font-size: 1.5em;
  margin-right: 10px;
  position: absolute;
}

.faq-item-question {
  margin-left: 40px;
}

.faq-item-header {
  font-size: 1.11em;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.5s, color 0.5s;
}

.faq-item-extend {
  text-align: left;
}

.faq-item-answer {
  font-size: 0.95em;
}

@media (max-width: 550px) {
  .faq-item-answer {
    line-height: 25px;
  }
}
