.footer {
  background-color: black;
  color: white;
}
.footer .container {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  bottom: 0;
  justify-content: space-around;
  height: 50px;
  font-size: 0.9em;
  max-width: 375px;
  margin: auto;
}
