* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

.theme-dark {
  background-color: #282828;
  color: #fff;
}

.theme-dark .timeline-opposite-content,
.theme-dark .faq-route-description {
  color: #fff700;
}

.theme-dark .navbar {
  color: #fff;
}

.theme-dark .faq-route {
  color: white;
}

.theme-dark .faq-item-header:hover {
  background-color: white;
  color: black;
}

.theme-dark .switch {
  --line: #505162;
  --dot: #f7f8ff;
  --circle: #9ea0be;
  --text: #9ea0be;
}

.theme-dark .timeline-form-input {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.theme-dark .timeline-presets::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #9c27b0;
}

.theme-dark .timeline-form-input:focus,
.theme-dark .timeline-form-input:hover,
.theme-dark .form-delete:hover {
  outline: none;
  background-color: #9c27b0;
}

.theme-dark .form-extra-buttons .form-button {
  border: 1px solid #9c27b0;
  color: #9c27b0;
}

.theme-dark .form-extra-buttons .form-button:hover {
  background: #9c27b0;
  color: #fff;
}

.theme-dark .timeline-presets::-webkit-scrollbar-track {
  background-color: #282828;
}

.theme-dark .form-button,
.theme-dark .timeline-preset-button {
  border: 1px solid #1976d2;
  color: #1976d2;
}

.theme-dark .form-button:hover,
.theme-dark .timeline-preset-button:hover {
  background: #1976d2;
  color: #fff;
}

.theme-dark .timeline-preset-name-change-button:hover {
  color: #000;
}

.theme-dark input[type="time"]::-webkit-calendar-picker-indicator {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
  cursor: pointer;
}

.theme-dark .timeline-preset-div-tippy {
  background-color: #c8c8c8;
  color: #000;
}

.theme-light {
  background-color: #c8c8c8;
  color: #000;
}

.theme-light .faq-route {
  color: black;
}

.theme-light .faq-item-header:hover {
  background-color: black;
  color: white;
}

.theme-light .timeline-opposite-content {
  color: #4b4b4b;
}

.theme-light .navbar {
  color: #000;
}

.theme-light .switch {
  --line: #000000;
  --dot: #000000;
  --circle: #9ea0be;
  --text: #9ea0be;
}

.theme-light .timeline-form-input {
  color: #000;
  border-bottom: 1px solid #000;
  font-weight: 600;
}

.theme-light .timeline-presets::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #652e6f;
}

.theme-light .timeline-form-input:focus,
.theme-light .timeline-form-input:hover,
.theme-light .form-delete:hover {
  outline: none;
  background-color: #652e6f;
  color: #fff;
}

.theme-light .form-extra-buttons .form-button {
  border: 1px solid #652e6f;
  color: #652e6f;
}

.theme-light .form-extra-buttons .form-button:hover {
  background: #652e6f;
  color: #fff;
}

.theme-light .timeline-presets::-webkit-scrollbar-track {
  background-color: #c8c8c8;
}

.theme-light .form-button,
.theme-light .timeline-preset-button {
  border: 1px solid #154a7e;
  color: #154a7e;
}

.theme-light .form-button:hover,
.theme-light .timeline-preset-button:hover {
  background: #154a7e;
  color: #fff;
}

.theme-light .timeline-preset-name-change-button:hover {
  background-color: #000;
  color: #fff;
}

.theme-light input[type="time"]::-webkit-calendar-picker-indicator {
  -webkit-filter: brightness(0);
          filter: brightness(0);
  cursor: pointer;
}

.theme-light .timeline-extras,
.theme-light .form-extras {
  font-weight: 700;
}

.theme-light .css-1ami7lv-MuiTimelineConnector-root {
  background-color: #282828;
}

.theme-light .timeline-preset-div-tippy {
  background-color: #282828;
  color: #fff;
}

.timeline-extra:hover,
.form-extra:hover {
  color: #000;
}

.timeline-preset:hover {
  background-color: #000;
  color: #fff;
}

.preset-active {
  background-color: #000;
  color: #fff;
}

.container {
  max-width: 100%;
  margin: auto 15px;
}

@media (min-width: 650px) {
  .container {
    max-width: unset;
    margin: auto;
  }
}

.no-footer-content {
  min-height: calc(100vh - 50px);
}

.no-footer-navbar-content {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 20px;
}

@media (min-width: 700px) {
  .no-footer-navbar-content {
    max-width: 700px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .no-footer-navbar-content {
    max-width: 1000px;
  }
}
/*# sourceMappingURL=styles.css.map */